<!DOCTYPE html>
<html>
  <head>
    <title>Christmas Gift 2020</title>
    <%= favicon_link_tag %>
    <%= display_meta_tags site: "Christmas Gift 2020" %>

    <!--OG META TAGS -->
    <meta property="og:title" content="Christmas Gift 2020 - A Christmas Escape in Fantasy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="http://christmas-gift-2020.heroku.app.com/assets/images/cover.png" />
    <meta property="og:description" content="A Christmas gift for the world in the dark COVID times of 2020. This is a non-profit project of two European friends seperated by many borders, connected through the internet." />
    <meta property="og:site_name" content="Christmas Gift 2020 - A Christmas Escape in Fantasy" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!--TWITTER META TAGS -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Christmas Gift 2020">
    <meta name="twitter:description" content="A Christmas gift for the world in the dark COVID times of 2020. This is a non-profit project of two European friends seperated by many borders, connected through the internet.">
    <meta name="twitter:image:src" content="http://christmas-gift-2020.heroku.app.com/assets/images/cover.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= link_to root_path do %>
    <h1 class="title-heading"><%= title "Christmas Gift 2020" %></h1>
    <% end %>
    <%= yield %>
    <div class="footer-container">
    <%= render "shared/footer" %>
    </div>
  </body>
</html>
